body {
  background: #e5e4e4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #444;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: 1px dotted red;
}

a:visited {
  border-bottom: 1px solid #666;
}

table {
  background: #fff;
  margin: 0 auto;
  font-size: 16px;
  border-spacing: 0;
  border: 1px solid #ccc;
}

tr:hover,
tr.odd:hover {
  background: #9ECECA;
}

td {
  padding: .75em;
  vertical-align: top;
  max-width: 720px;
}

td a, .meme {
  font-weight: 600;
}

tr.odd {
  background: #efefef;
}

th {
  background: #e5e4e4;
  padding: .75em;
}

h1 {
  width: auto;
  color: #df5b57;
  background-color: #000;
  padding: 5px 10px 20px 25px;
  margin: 0 0 10px 0;
  font-size: 24px;
}

h1 a,
.article h1 a {
  color: #df5b57;
}

h1 form {
  margin-top: 5px;
}

h1 form input {
  font-size: 20px;
  padding: 1px 5px;
  margin: 0 20px 0 0;
  height: 35px;
}
.search_input {
  display: inline-block;
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px 15px 10px 35px;
  border: 1px solid #444444;
  border-radius: 30px;
  background-color:  #444444;
}
#query {
  border: 1px solid silver;
  color: #444444;
  padding: 0 15px;
  border-radius: 20px;}

.header__button {
  background-color: #df5b57;
  color: #000000;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  border-top: none;
  border-left: none;
  border-radius: 20px;
  padding: 5px 20px;}

.kicker {
  font-size: smaller;
  display: inline-block;
  max-width: 600px;
}

#followtwitter {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 46px;
}

#followtwitter img {
  object-fit: cover;
  width: 46px;
  border-radius: 15px;
}

footer {
  height: 50px;
  background-color: black;
  color: #df5b57;
  text-align: center;
  line-height: 45px;
  margin-top: 20px;
}

.meme { color: #df5b57;}

#rsslink {
  float: right;
  width: 30px;
  height: 35px;
  padding-top: 5px;
  padding-right: 75px;
}
#rsslink img {
  width: 30px;
}

.pager {
  margin: 0 auto;
  text-align: center;
}

.authorname,
.authorname th{
  background-color: black;
  color: #df5b57;
  font-weight: bolder;
}

.articlecount {
  float: right;
  margin-right: 50px;
}

.inactive {
  color: #888;
}

.bye {
  margin-left: -175px;
}

.article {
  max-width: 720px;
  margin: -10px auto;
  padding: 10px;
  background-color: white;
  line-height: 24px;
}
.article a {
  color: darkslateblue;
  border-bottom: 1px dotted red;
}

footer svg {
  font-size: 36px;
}