{% extends "base.html" %}

{% block content %}
<div class="article">
    <h1>over <a href="/decorrespondent">deze site</a></h1>
    <p>Toen eind 2013 <a href="https://decorrespondent.nl/">de Correspondent</a> begon te publiceren heb ik al gauw  een <a href="https://github.com/xiffy/dcrrspndnt">botje in elkaar geflanst.</a> Ik codeerde in php en met de tijd groeide het `gedrocht` mee met de nukken van mij, mijn aandacht voor de site en de langzame veranderingen aan de site van de correspondent zelf. Na zes jaar, een wirwar aan bestanden, plakbandje op plakbandje en php-verise-upgrades later was de site onmogelijk uitbreidbaar in de breedte. De practische oplossing waar ik dan altijd voor koos, kopieer de hele zooi, pas wat stringetjes aan en ga weer verder met je leven.</p>
    <p>Todat je een verandering ineens op drie sites moet toepassen, of toch niet, want hier had ik die variabele toch anders genoemd?</p>
    <p>Dus toen een half jaar terug iemand mij vroeg of ik ook de engelstalige correspondent opnam, kon ik alleen maar denken "nog een kopie" en zei "Nee". Ik wilde niet de artikelen door elkaar naar binnen laten lopen en het <a href="https://twitter.com/dcrrspndnt/">twitteraccount</a> engels en nederlandstalige  tweets laten versturen. Dus de kopie optie was de voor de hand liggende keuze en daar bedankte ik voor.</p>
    <p>Maar het zaadje was al geplant, natuurlijk `moest` ik ook een botje schrijven voor de engelstalige correspondent. Een verse start, alles anders, simpeler, generieker. Ik wist nu wat er gebruikt werd op de site, en ik wilde wel eens zien hoe makkelijk ik dit nu in python zou schrijven. Na een paar uur werken struinde het botje twitter al af, op zoek naar tweets naar `thecorrespondent.com`, plukte daar de werkende URL's uit en nog een uurtje later verstuurde die <a href="https://twitter.com/thcrsspndnt"> zijn eerste tweets.</a> </p>
    <p>Even later stond er een naakte html-tabel op http://127.0.0.1:5000/ op mijn beeldscherm en was de site al bijna klaar voor het `grote` publiek. Een essentiele RSS feed, wat css kopieren van de oude site en klaar!</p>
    <p>...</p>
    <p>"maar nu heb je er weer <a href="/thcrrspndnt">een site bij</a>" dacht ik.</p>
    <p>...</p>
    <p>Er zat maar een ding op, de oude site, traag en kapot-onderhouden moest ook op de nieuwe code gaan draaien. Een ruwe schets van waar ik moest kiezen welke database ik aan moest roepen, het juiste twitter account en de juiste labels, links en alles wat ik over het hoofd zag. Als eerste maakte ik het botje generiek en al snel draaiden er twee botjes hun rondje met elk hun eigen zoekterm. Vervolgens heb ik alle ooit gevonden artikelen gedumpt in het nieuwe formaat en ingelezen, de gelinkte tweets heb ik `plof` zo uit mijn handen laten vallen, dus de tweetcounts zijn waaaaaay! off (herstart met tellen 2020-03-11). </p>
    <p>wat verdween, want less is lekker lui, `secties`, `grafiekje`, `top (dag, week, all-time)` </p>
    <p><strike>De zoekfunctie verdween ook, maar die zal mettertijd terugkomen.</strike></p>
    <p>zijn er dingen stuk nu waar je niet meer zonder kunt? roep me op twitter en wie weet</p>
    <p>link naar de source code in de footer</p>
    <p>enjoy!</p>
    <p>en zoals altijd: <br/>
        Als je de artikelen van de Correspondent het lezen waard vindt, neem dan een abonnement. Deze service is bedoeld als een proof of concept, zal waarschijnlijk nooit uitputtend alle artikelen van de correspondent vinden, simpelweg omdat sommige artikelen niet getwitterd zullen worden.</p>
</div>


{% endblock %}



