<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the correspondent (english)</title>
    <link rel="stylesheet" href="{{static_depth|default('.')}}/static/thcrrspndnt.css?v=2" />
    <link rel="alternate" type="application/rss+xml" title="Articles from the Correspondent - thcrrspndnt" href="./rss">
</head>
<body>
<h1>Articles from <a href="https://thecorrespondent.com/">the Correspondent</a></h1>
{% block content %}
{% endblock %}
<aside id="followtwitter"><a href="https://twitter.com/thcrsspndnt" ><img src="{{static_depth|default('.')}}/static/twitter.jpg" /></a></aside>
</body>
</html>