{% for article in articles %}
    <tr {% if loop.index % 2 == 1 %} class="odd" {% endif %}>
        <td>{{ article.corry_id }}</td>
        <td>{{ article.nice_publish_date }}</td>
        <td class="title"><a href="{{ article.share_url }}">{{ article.title|safe }}</a> <br> <span class="kicker"> {{article.description|safe}} </span> </td>
        <td><a href="./author/{{article.author}}/">{{ article.author|safe }}</a></td>
        <td>{{ article.tweetcount }}</td>
    </tr>
{% endfor %}
    <tr>
        <th colspan="5"><span class="articlecount">{{tot_count}} articles found so far
            <span class="smaller">({{'{:,}'.format(tweet_count)}} tweets)</span>
        </span></th>
    </tr>
    <tr>
        <th colspan="5">{% include 'blocks/pager.html' %}</th>
    </tr>

